.axisContainer {
  display: flex;
  justify-content: center;
  margin: 5% 0% 0%;
}

.axisBtn {
  padding-bottom: 3px;
  cursor: pointer;
  border: none;
  background-color: rgb(213, 220, 233);
  font-family: inherit;
  font-size: inherit;
  color: rgb(42, 55, 75);
  margin-left: 25px;
  width: 40px;
  height: 30px;
}
.axisBtn:hover {
  background-color: rgb(232, 241, 252);
}

.list {
  list-style: none;
}

.list li {
  margin-bottom: 20%;
}